@font-face {
  font-family: "MyFont";
  src: url("./hazer.ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("../images/hazertrans.png");
  font-family: "MyFont";
}
